<header>
    <img id="logo" src="images/ninjablack.png">
    <h1 id="motto">Black Ninja</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="chat">Chat</a></li>
            <li><a href="ajax">AJAX</a></li>
            <li><a href="crud">Crud</a></li>
            <li><a href="dragdrop">Drag</a></li>
        </ul>
    </nav>
</header>