<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Site</title>
    <link href="css/main.css" rel="stylesheet">
    <script src="js/main.js"></script>

      <link href="css/default.css" rel="stylesheet" />
  <!-- <script src="scripts/jquery-1.8.3.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.8.3.min.js"
    integrity="sha256-YcbK69I5IXQftf/mYD8WY0/KmEDCv1asggHpJk1trM8=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/default.js"></script>

</head>
<body>
    <div class="main-container">        
        {{> header }}
        {{{ body }}}
        {{> footer }}        
    </div>
</body>

</html>